{{define "content"}}
<div id="app">
    <v-app>
        <v-content>
            <v-container>
                <div>
                    <v-tabs color="cyan" dark slider-color="yellow">
                        <v-tab v-for="n in 3" :key="n" ripple>
                            <h4 v-if="n===1">
                                Local Setting
                            </h4>
                            <h4 v-if="n===2">
                                LOG
                            </h4>
                        </v-tab>
                        <v-tab-item v-for="n in 3" :key="n">
                            <v-card v-if="n===1">
                                <v-card-text>
                                    <h1>
                                        Local Setting
                                    </h1>
                                    <v-form v-model="valid" ref="form" lazy-validation>
                                        <v-text-field label="Device ID" v-model="form.deviceID" required></v-text-field>
                                        <v-text-field disabled label="Serial Number" v-model="form.serialNumber" required></v-text-field>
                                        <v-btn @click="submitData" :disabled="!valid">
                                            Update
                                        </v-btn>
                                    </v-form>
                                </v-card-text>
                            </v-card>
                            <v-card v-if="n===2">
                                <v-card-text>
                                    <v-text-field label="Log Device" textarea v-model="logclientapp"></v-text-field>
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                    </v-tabs>
                </div>
            </v-container>
        </v-content>
    </v-app>
</div>
<script>
    new Vue({
        el: '#app',
        delimiters: ['<%', '%>'],
        data() {
            return {
                valid: true,
                logclientapp: '',
                form: {
                    deviceID: '{{.deviceID}}',
                    serialNumber: "{{.serialNumber}}"
                }
            }
        },
        mounted() {

            $.notify({
                autoHideDelay: 1000,
            })

            const thisV = this
            var socket = io(window.location.host);
            socket.on('connect', function () {
                $.notify("terkoneksi", "success");
                // CONNECT AND ACK  WITH SERVER
                socket.emit("join", 'roomclientapp', function (data) {
                    // console.log('ACK from server wtih data: ', data)
                    socket.on('logclientapp', function (data) {
                        console.log(data)
                        thisV.logclientapp = data
                    });
                    // socket.on('roomclientapp logclientapp', function (data) {
                    //     console.log(data)
                    //     thisV.logclientapp = data
                    // });
                    socket.on('disconnect', function () {
                        $.notify("disconnect", "error");
                    });
                    socket.on('error', function (err) {
                        alert(err);
                    });
                });
            });

        },
        methods: {
            submitData() {
                let paramBody = {
                    token: this.form.deviceID,
                    hardwareId: this.form.serialNumber,
                }
                const urlnya = window.location.protocol + '//{{.baseUrl}}' + '/api/v1/lokalsetting/SetAuth'
                window.axios({
                    url: urlnya,
                    method: 'post',
                    data: paramBody,
                    // withCredentials: true,
                    // responseType: 'json', // default
                }).then((value) => {
                    console.log(value)
                    var notifStyle = "error"
                    try {
                        if (value.data.error === 0) {
                            notifStyle = "success"
                        }
                    } catch (error) {

                    }
                    alert(value.data.msg)
                    // $.notify(value.data.msg, notifStyle);
                }).catch((err) => {
                    console.log(err)
                    alert(err)
                    // $.notify(err, "error");
                })
            }
        }
    })
</script> {{end}}